<!-- Le projet risque de beaucoup se répeter, par conséquent on factorise les vues -->

<!-- Ici, il s'agit du header -->

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- La police d'écriture est infame, on va sur Google Fonts pour prendre une police plutot classe -->

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

    </style>

    <!-- Ici, je place mes liens en absolu pour que les styles CSS se versent bien sur toutes les pages de mon projet -->

    <link rel="stylesheet" href="/css/reset.css" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>MarioDex</title>

</head>

<body>

    <!-- Je réalise ici ma barre de navigation -->
    
    <header class="home_header">

        <nav class="home_nav">

            <ul class="home_ul">

                <li class="home_ul_home" href="#">Accueil</li>

                <li class="home_ul_search" href="#">Recherche</li>

                <li class="home_ul_favorite" href="#">Favoris</li>

            </ul>

        </nav>

    </header>