body {
    background-color: rgb(rgb(230, 222, 222), green, blue);
    font-family: 'Asap', sans-serif;
}

.home_header {
    background-image: url('https://www.ecranlarge.com/uploads/image/001/403/mario-kart-8-deluxe-photo-1403122.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 25em;
    height: 80em;
    border-right: 4px solid black;
    opacity: 0.8;
    position: fixed;
}

.home_nav {
    padding-top: 2em;
}

.home_ul {
    font-size: 2.5em;
    margin-left: 0.8em;
}

.home_ul_home,
.home_ul_search,
.home_ul_favorite {
    margin-bottom: 0.5em;
    border: 2px solid black;
    width: 7.4em;
    height: 2em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    border-radius: 0.4em;
    background-color: lightgray;
    transition: background-color .2s ease, color .2s ease;
}

.home_ul_href:hover,
.home_ul_home:hover,
.home_ul_search:hover,
.home_ul_favorite:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

}

.home_main {
    position: absolute;
    top: 3em;
    left: 28em;
}

.home_title {
    color: black;
    font-size: 3em;
    margin-left: 0.5em;
    margin-bottom: 2em;
}

.home_character_identity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
}

.home_character_img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    position: relative;
}

.home_character_name {
    position: absolute;
    z-index: 2;
    margin-left: -20.5em;
    margin-top: 17em;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    width: 18.3em;
    height: 1.4em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.img_detail {
    width: 700px;
    height: 700px;
    background-color: lightgray;
    border: 2px solid black;
    margin-left: 1.5em;
    position: relative;
    top: -3em;
}

.name_detail {
    position: absolute;
    top: 46em;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    left: 1.5em;
    width: 42.5em;
    height: 2.5em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    font-weight: bold;
}

.home_title_bold {
    font-weight: bold;
}

.aside_pannel {
    position: absolute;
    top: 6em;
    left: 48em;
    width: 38em;
    height: 42em;
}

.aside_pannel_li {
    font-size: 1.4em;
    margin-bottom: 1.3em;
}